<?xml version="1.0"?>
<!--
/**
 * Novalnet payment extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Novalnet End User License Agreement
 * that is bundled with this package in the file LICENSE.txt
 *
 * DISCLAIMER
 *
 * If you wish to customize Novalnet payment extension for your needs,
 * please contact technic@novalnet.de for more information.
 *
 * @category   Novalnet
 * @package    Novalnet_Payment
 * @copyright  Copyright (c) Novalnet AG
 * @license    https://www.novalnet.de/payment-plugins/kostenlos/lizenz
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <novalnetSepa>
                <active>0</active>
                <title>SEPA-Lastschrift</title>
                <sort_order>1</sort_order>
                <payment_action>authorize_capture</payment_action>
                <shop_type>1</shop_type>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetSepaFacade</model>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetSepa>
            <novalnetCc>
                <active>0</active>
                <title>Kredit-/Debitkarte</title>
                <sort_order>2</sort_order>
                <cc_types>VI,MC,AE,MA,CI,UP,DC,DI,JCB,CB</cc_types>
                <payment_action>authorize_capture</payment_action>
                <shop_type>1</shop_type>
                <inline_form>1</inline_form>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetCcFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetCc>
            <novalnetApplepay>
                <active>0</active>
                <title>Apple Pay</title>
                <sort_order>3</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <enabled_pages>shopping_cart_page,mini_cart_page,product_page,guest_checkout_page</enabled_pages>
                <button_style>apple-pay-button-text-buy</button_style>
                <button_theme>apple-pay-button-black-with-text</button_theme>
                <button_height>50</button_height>
                <button_corner_radius>0</button_corner_radius>
                <payment_action>authorize_capture</payment_action>
                <model>NovalnetApplepayFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetApplepay>
            <novalnetInvoice>
                <active>0</active>
                <title>Rechnung</title>
                <sort_order>4</sort_order>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <order_status_after_payment>complete</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>NovalnetInvoiceFacade</model>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetInvoice>
            <novalnetPrepayment>
                <active>0</active>
                <title>Vorkasse</title>
                <sort_order>5</sort_order>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <order_status_after_payment>complete</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>NovalnetPrepaymentFacade</model>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetPrepayment>
            <novalnetInvoiceGuarantee>
                <active>0</active>
                <title>Rechnung mit Zahlungsgarantie</title>
                <sort_order>6</sort_order>
                <allow_b2b_customer>1</allow_b2b_customer>
                <payment_guarantee_force>0</payment_guarantee_force>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <min_order_total>9.99</min_order_total>
                <model>NovalnetInvoiceGuaranteeFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetInvoiceGuarantee>
            <novalnetSepaGuarantee>
                <active>0</active>
                <title>SEPA-Lastschrift mit Zahlungsgarantie</title>
                <sort_order>7</sort_order>
                <allow_b2b_customer>1</allow_b2b_customer>
                <payment_guarantee_force>0</payment_guarantee_force>
                <payment_action>authorize_capture</payment_action>
                <shop_type>1</shop_type>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <min_order_total>9.99</min_order_total>
                <model>NovalnetSepaGuaranteeFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetSepaGuarantee>
            <novalnetInvoiceInstalment>
                <active>0</active>
                <title>Ratenzahlung per Rechnung</title>
                <sort_order>8</sort_order>
                <instalment_cycles>2,3,4,6,8,9,10,12</instalment_cycles>
                <allow_b2b_customer>1</allow_b2b_customer>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <min_order_total>19.98</min_order_total>
                <model>NovalnetInvoiceInstalmentFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetInvoiceInstalment>
            <novalnetSepaInstalment>
                <active>0</active>
                <title>Ratenzahlung per SEPA-Lastschrift</title>
                <sort_order>9</sort_order>
                <instalment_cycles>2,3,4,6,8,9,10,12</instalment_cycles>
                <allow_b2b_customer>1</allow_b2b_customer>
                <payment_action>authorize_capture</payment_action>
                <shop_type>1</shop_type>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <min_order_total>19.98</min_order_total>
                <model>NovalnetSepaInstalmentFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetSepaInstalment>
            <novalnetIdeal>
                <active>0</active>
                <title>iDEAL</title>
                <sort_order>10</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetIdealFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetIdeal>
            <novalnetBanktransfer>
                <active>0</active>
                <title>Sofortüberweisung</title>
                <sort_order>11</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetBanktransferFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetBanktransfer>
            <novalnetGiropay>
                <active>0</active>
                <title>giropay</title>
                <sort_order>12</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetGiropayFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetGiropay>
            <novalnetCashpayment>
                <active>0</active>
                <title>Barzahlen/viacash</title>
                <sort_order>13</sort_order>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <order_status_after_payment>complete</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>NovalnetCashpaymentFacade</model>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetCashpayment>
            <novalnetPrzelewy>
                <active>0</active>
                <title>Przelewy24</title>
                <sort_order>14</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetPrzelewyFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetPrzelewy>
            <novalnetEps>
                <active>0</active>
                <title>eps</title>
                <sort_order>15</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetEpsFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetEps>
            <novalnetPaypal>
                <active>0</active>
                <title>PayPal</title>
                <sort_order>16</sort_order>
                <payment_action>authorize_capture</payment_action>
                <shop_type>0</shop_type>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetPaypalFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetPaypal>
            <novalnetPostFinanceCard>
                <active>0</active>
                <title>PostFinance Card</title>
                <sort_order>17</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetPostFinanceCardFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetPostFinanceCard>
            <novalnetPostFinance>
                <active>0</active>
                <title>PostFinance E-Finance</title>
                <sort_order>18</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetPostFinanceFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetPostFinance>
            <novalnetMultibanco>
                <active>0</active>
                <title>Multibanco</title>
                <sort_order>19</sort_order>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <order_status_after_payment>complete</order_status_after_payment>
                <allowspecific>0</allowspecific>
                <model>NovalnetMultibancoFacade</model>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
            </novalnetMultibanco>
            <novalnetBancontact>
                <active>0</active>
                <title>Bancontact</title>
                <sort_order>20</sort_order>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <model>NovalnetBancontactFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <order_place_redirect_url>1</order_place_redirect_url>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </novalnetBancontact>
        </payment>
    </default>
</config>
